.login-wrap {
  flex: 1;
  background: #000;
}

.login-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-logoPx {
  /*  #ifdef h5  */
  width: 500px;
  height: 427px;
  /*  #endif  */
}

.login-info {
  padding: 0 32px;
}

.login-email {
  border: 1px solid #64635f;
  border-radius: 20px;
  height: 120px;
  /*  #ifdef h5  */
  height: 100px;
  .weui-input {
    height: 100px;
    padding: 0 40px;
    font-size: 30px;
  }
  /*  #endif  */
}

.login-emailInput {
  border-color: #f4dfad;
  padding: 0 40px;
}

.login-emailPlaceholder {
  color: #c9c5b7;
  padding: 0;
  margin: 0;
}

.login-emailError {
  color: red;
  padding: 5px 40px;
  margin: 0;
  font-size: 24px;
}

.login-password {
  margin-top: 50px;
  border: 1px solid #64635f;
  border-radius: 20px;
  height: 120px;
  /*  #ifdef h5  */
  height: 100px;
  .weui-input {
    height: 100px;
    padding: 0 40px;
    font-size: 30px;
  }
  /*  #endif  */
}

.login-passwordInput {
  border-color: #f4dfad;
  padding: 0 40px;
}

.login-passwordPlaceholder {
  color: #c9c5b7;
  padding: 0;
  margin: 0;
}

.login-passwordError {
  color: red;
  padding: 5px 40px;
  margin: 0;
  font-size: 24px;
}

.login-error {
  border: 1px solid red;
}

.login-footer-radio {
  display: flex;
  align-items: center;
  flex-direction: row;
  position: relative;

  /*  #ifdef h5  */
  .weui-cells_checkbox .weui-check:checked + .weui-icon-checked:before {
    color: #f4dfad;
  }
  .weui-cells_checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  /*  #endif  */
}

.login-footer-radioClick {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 50px;
}

.login-footer-radio-text {
  color: #f4dfad;
  font-size: 30px;
  margin-left: 4px;

  /*  #ifdef rn  */
  margin-left: 10px;
  /*  #endif  */
}

.login-radioWrap {
  position: absolute;
  bottom: 20px;
  left: 32px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
  line-height: 60px;
  /*  #ifdef h5  */
  .weui-cells_checkbox .weui-check:checked + .weui-icon-checked:before {
    color: #f4dfad;
  }
  .weui-cells_checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  /*  #endif  */
}

.login-radioClick {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 50px;
}

.login-xieyiWrap {
  font-size: 30px;
  color: #f4dfad;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 4px;
  /*  #ifdef rn  */
  margin-left: 10px;
  /*  #endif  */
}

.login-xieyi {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #f4dfad;
  font-size: 30px;
  /*  #ifdef h5  */
  width: 280px;
  flex: 1;
  /*  #endif  */
}

.login-yinsi {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #f4dfad;
  font-size: 30px;
  /*  #ifdef h5  */
  width: 280px;
  flex: 1;
  /*  #endif  */
}

.login-linearGradient {
  padding: 30px 40px;
  border-radius: 50px;
  margin-top: 32px;
}

.login-linearGradientText {
  width: 100%;
  text-align: center;
  color: #4d3813;
  font-size: 32px;
}

.login-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 32px;
  position: relative;
}

.login-flex-end {
  justify-content: space-between;
  margin-top: 20px;
}

.login-end {
  position: absolute;
  right: 0;
  top: 0;
}

.login-zhuce {
  display: flex;
  align-items: center;
  flex-direction: row;
  color: #f4dfad;
  font-size: 30px;
}

.login-forget {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: #f4dfad;
  font-size: 30px;
  text-align: right;
  flex: 1;
}
